@charset "UTF-8";

@font-face {
  font-family: "Basketball"; // 自己取的名字，项目中可运用
  src: url("./fonts/Basketball.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

//@font-face {
//  font-family: "PingFangSC-Regular";
//  src: url("./font/XingNanMaiYuanTi.ttf") format("truetype");
//}
